html
  head
    title= title
    link(href='/vendor/picnic/releases/picnic.min.css', rel='stylesheet', type='text/css')
    style(type='text/css').
           .center {
                width: 250px;
                align-self: center;
                margin-left: 400px;
            }
            .box{
              border:1px solid;
            }